.bgProperty{
      /*background-image: url(../assets/Retail-BG.jpg);*/
       /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    display: inherit;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}