<!-- Fixed navbar -->
<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">boltzmann</a>
</nav> -->

<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="col-lg-6">Retail</span>
      <div class="col-lg-3">
      <span class="example-spacer"></span>
      <span> Welcome {{user.userName}} !!!</span>
      </div>
      <div class="col-lg-3">
      <button class="pull-right" mat-button routerLink="/layout">DashBoard</button>
      <button class="pull-right" mat-button>Profile</button>
      <button class="pull-right" mat-button>Profile</button>
    </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>


     